.Slideshow {
  position: relative;
  .image {
    width: 100%;
    transition: opacity 2s, filter 500ms;
    &.front {
      opacity: 1;
    }
    &.back {
      opacity: 0;
      filter: brightness(9) blur(40px) contrast(200%);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
@media only screen  and (min-width : 900px) {
  .Slideshow {
    height: 340px;
    width: 510px;
  }
}
