.Facility {
  margin: 0;
  position: relative;
  .featureList {
    column-count: 1;
    list-style: disc outside none;
    margin: 1rem;
    padding-left: 1em;
    div::before {
      content: '■';
      position:absolute;
      margin-left: -1rem;
      color: #aed40f;
    }
  }
  .gallery {
    text-align: center;
    div {
      color: #f8f8ff;
      display: inline;
      a {
        border: 1px solid rgba(28, 115, 229, 0.5);
        display: inline;
        img {
          width: 19%;
        }
      }
    }
    &> img.bigImage {
      width: 100%;
      margin: 1rem auto 2rem;
      bottom: 20px;
      left:0;
      border: 1px solid #FFF;
    }
  }
}
@media only screen  and (min-width : 600px) {
  .Facility {
    .featureList {
      column-count: 2;
    }
  }
}
@media only screen  and (min-width : 900px) {
  .Facility {
    margin: 0;
    position: relative;
    .featureList {
      column-count: 3;
    }
    .gallery {
      text-align: center;
      div {
        color: #f8f8ff;
        display: inline-block;
        font-weight: bold;
        padding: 20px;
        text-align: center;
        a {
          border: 1px solid rgba(28, 115, 229, 0.5);
          display: block;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
