.Menu {
  position: absolute;
  height: 40px;
  top: 106px;
  width: 900px;
  background: transparent url(bg.jpg) no-repeat center top;
  filter: alpha(opacity=90);
  opacity: .9;
}
.Menu .bar {
  position: absolute;
  height: 40px;
  top: 12px;
  left: 255px;
  white-space: nowrap;
}
.Menu .indicator {
  background: transparent url(indicator.png) no-repeat center top;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  height: 147px;
  margin: 0 auto;
  opacity: 0;
  position: absolute;
  top: -800px;
  transition: opacity 1s ease, top 1s ease;
  width: 108px;
  z-index: -1;
  /*left: calc(50% - 54px)*/
  left: 50%;
  transform: translateX(-50%);
}
.Menu .active .indicator {
  top: -108px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
.Menu .tab {
  -webkit-font-smoothing: antialiased;
  color: #f8f8ff;
  font-family: "Rokkitt",Helvetica;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: .9px;
  padding: 10px 19px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.Menu .tab.active {
  color: #aed40f;
}
