.Social {
  height: 54px;
  left: 286px;
  letter-spacing: .9px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 150px;
  width: 600px;
  a {
    font-size: 20px;
  }
  .action {
    left: 310px;
    position: absolute;
    top: 0;
    width: 160px;
    a {
      display: block;
      height: 28px;
    }
    .follow {
      left: 0;
      position: absolute;
      top: 5px;
    }
    .shopmsk {
      left: 0;
      position: absolute;
      top: 32px;
    }
  }
  .action_arrow {
    background: transparent url(action_arrow.png) no-repeat center top;
    height: 60px;
    left: 243px;
    position: absolute;
    top: 9px;
    width: 60px;
  }
  .fblike {
    border: none;
    height: 42px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 200px;
  }
  .fblink {
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    background: transparent url(social_facebook.png) no-repeat center top;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    height: 60px;
    left: 420px;
    opacity: 0.75;
    position: absolute;
    top: 2px;
    transition: opacity 1s ease;
    width: 60px;
    &:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }
  }
  .fbnews {
    color: #1c73e5;
    left: 5px;
    margin: 0;
    position: absolute;
    top: 32px;
    width: 250px;
  }
  .ytlink {
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    background: transparent url(social_youtube.png) no-repeat center top;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    height: 60px;
    left: 487px;
    opacity: 0.75;
    position: absolute;
    top: 2px;
    transition: opacity 1s ease;
    width: 60px;
    &:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
    }
  }
}

