.Contact {
  .map img {
    width: 100%;
  }
  p {
    margin: 20px 0;
  }
  .blackBox {
    min-height: 650px;
  }
  .contact {
    font-size: 14px;
  }
}
@media only screen  and (min-width : 900px) {
  .Contact {
    .map img {
      position: absolute;
      top: 0;
      right: 0;
      width: initial;
    }
    p {
      margin: 20px 0;
    }
    .blackBox {
      min-height: 650px;
    }
  }
}