.Header {
  width: 900px;
  height: 200px;
}
.Header .topper {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 38px;
  background: transparent url(topper.gif) no-repeat center top;
}
