.Footer {
  background-color: #000000;
  filter: alpha(opacity=75);
  margin: 10px auto 0;
  opacity: .75;
  position: relative;
  text-align: left;
  width: 100%;
  & > .section {
    padding: 40px;
    vertical-align: top;
    display: inline-block;
    a {
      color: #dcdcdc;
    }
    ul.vertical_list li {
      height: 22px;
    }
    & > .title {
      color: #aed40f;
      display: block;
      margin-bottom: 30px;
    }
    & > .vertical_list {
      display: block;
      -moz-columns: 80px 3;
      -webkit-columns: 80px 3;
      columns: 80px 3;
    }
  }
  .lefter {
    position: fixed;
    bottom: 10px;
    width: 44px;
    height: 650px;
    right: 15px;
    background: transparent url(left.png) no-repeat;
    transition: filter 1s;
    animation: pulse 12s infinite;
    &:hover {
      filter: brightness(1.75);
    }
  }
}

@keyframes pulse {
  0% {
    filter: brightness(1);
  }
  90% {
    filter: brightness(1);
  }
  95% {
    filter: brightness(1.75);
  }
  100% {
    filter: brightness(1);
  }
}

@media only screen  and (min-width : 900px) {

  .Footer {
    height: 251px;
    margin: 20px auto 0;
    width: 900px;
    & > .section {
      padding: 40px;
      vertical-align: top;
      width: 350px;
      display: inline-block;
      a {
        color: #dcdcdc;
      }
      ul.vertical_list li {
        width: 70px;
        height: 22px;
      }
      & > .title {
        color: #aed40f;
        display: block;
        margin-bottom: 30px;
      }
      & > .vertical_list {
        display: block;
        -moz-columns: 80px 3;
        -webkit-columns: 80px 3;
        columns: 80px 3;
      }
    }
    .lefter {
      top: -668px;
      left: 0;
      width: 44px;
      height: 650px;
      background: transparent url(left.png) no-repeat;
    }
  }
}
