.Classes .info {
  width: 100%;
}
.Classes .info_wrapper {
  color: #CCC;
  margin: 3rem 0 0;
  position: relative;
  text-align: left;
}
.Classes .info_wrapper table {
  border: 8px solid transparent;
}
.Classes .info_wrapper table td {
  border: 0;
  line-height: 16px;
  padding: 5px;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}
.Classes .group .section {
  display: flex;
}

.Classes .section .title {
  border-bottom: 1px solid #1c73e5 !important;
  padding: 1rem 0 0.5rem 0;
  text-align: left;
}

.Classes table {
  border-collapse: collapse;
  border-spacing: 0;
}