@media only screen  and (min-width : 900px) {
  .NextClass {
    .group.nextClass {
      background: rgba(0, 0, 0, 0.9);
      background: url(bg.jpg), linear-gradient(to right, #1e4b73, rgba(255, 255, 255, 0));
      border-radius: 0.5em;
      border: 1px solid #FFF;
      color: #999;
      margin: 1rem 0 0 0;
      padding: 0 1rem 1rem 1rem;
      .section {
        color: #FFF;
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        .col3 {
          color: #33F;
        }
        .col4 {
          width: 200px;
        }
      }
    }
  }
}