.Pricing .superseniors {
  outline: 2px dashed rgba(174,212,15,0.5);
  background-color: darkgreen;
  background-color: rgba(0,0,66,0.5);
  color: #aed40f;
  text-align: center !important;
}

.Pricing .superseniors::after {
  content: "\00a0 \00a0 \2702";
}


.Pricing .superseniors::before {
  content: "\2702 \00a0 \00a0 ";
}

.Pricing .time {
  color: #f8f8ff;
  white-space: nowrap;
}

.Pricing .time {
  text-align: right;
  padding-right: 1rem;
}
.Pricing .superseniors {
  outline: 2px dashed rgba(174,212,15,0.5);
  background-color: darkgreen;
  background-color: rgba(0,0,66,0.5);
  color: #aed40f;
  text-align: center !important;
}