.ScheduleByTitle {
  .section {
    &>* {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .section .col1 {
    display: inline-block;
    min-width: 110px;
    max-width: 110px;
  }
  .section .col2 {
    display: inline-block;
    min-width: 190px;
    text-align: center;
  }
  .section .col3 {
    color: green;
    display: inline-block;
    white-space: nowrap;
    min-width: 255px;
    max-width: 255px;
    text-align: center;
    .desc {
      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }
  }
}