.Schedule .group .title {
  font-size: 1rem;
  text-align: left;
  padding: 1em 0 0.5em 0;
  border-bottom: 1px solid #1c73e5 !important;
  margin-bottom: 0.5em;
}

.Schedule .group .col1 {
  width: 100px;
}
.Schedule .group .col2 {
  width: 160px;
}
.Schedule .group .col3 {
  width: 160px;
}
.Schedule .group .col4 {
  width: 150px;
}

.Schedule .group span {
  display: inline-block;
}